<div>
    <video
      id="webRtcPlayer"
      data-device={@device.id}
      controls
    >
    </video>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/webrtc.js"} />
</div>