@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
#timeline .x-axis g {
    color: white;
    fill: white;
}
#timeline .x-axis text {
    font-size: 12px;
    font-weight: 600;
    paint-order: stroke;
    stroke: #000000aa;
    stroke-width: 1px;
}
#timeline path {
    stroke: #0000;
}

video::-webkit-media-controls-timeline, 
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-time-remaining-display, 
video::-webkit-media-controls-current-time-display { 
    display: none 
}
::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
}

.popup-container {
    z-index: 9999; /* Make sure the popup is above everything */
}
  
.popup-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

#video-container {
    position: relative;
}

#live-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
