@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
#timeline .x-axis g {
    color: white;
    fill: white;
}
#timeline .x-axis text {
    font-size: 12px;
    font-weight: 600;
    paint-order: stroke;
    stroke: #000000aa;
    stroke-width: 1px;
}
#timeline path {
    stroke: #0000;
}

span:has(> form) {
    display: flex;
}