name: Elixir CI

on:
  pull_request:

jobs:
  ci:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-22.04

    env:
      MIX_ENV: test

    strategy:
      matrix:
        folder: [rtsp, ui, nerves_fw]

    defaults:
      run:
        working-directory: ${{ matrix.folder }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install deps
        run: sudo apt-get update && sudo apt-get install -y libmnl-dev

      - name: Set up Elixir
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: '1.18.3'
          otp-version: '27.3.3'

      - name: Install hex
        run: |
          mix local.hex --force && \
          mix local.rebar --force && \
          mix archive.install hex nerves_bootstrap --force

      - name: Cache deps
        uses: actions/cache@v3
        with:
          path: |
            ${{ matrix.folder }}/deps
            ${{ matrix.folder }}/_build
          key: ${{ runner.os }}-mix-${{ matrix.folder }}-${{ hashFiles(format('{0}/mix.lock', matrix.folder)) }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ matrix.folder }}-

      - name: Install dependencies
        run: mix deps.get

      - name: Compile dependencies
        run: mix deps.compile

      - name: Check formatting
        run: mix format --check-formatted

      - name: Run Credo
        run: mix credo --strict

      - name: Run tests
        run: mix test
