name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-22.04
    env:
      MIX_ENV: prod
      GENERATE_DEB_PACKAGE: true
      SENTRY_ENABLED: true
    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1.18
        with:
          otp-version: 27.3.3
          elixir-version: 1.17.3

      - uses: actions/setup-node@v4
        with:
          node-version: 23.6.1

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get -y install libsrtp2-dev libturbojpeg-dev

      - name: Get deps
        run: mix deps.get --only prod
        working-directory: ./ui

      - name: Create release
        run: mix do sentry.package_source_code, release
        working-directory: ./ui

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Build arm64 release
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/arm64/v8
          file: .github/workflows/Dockerfile
          load: true
          tags: ex_nvr:${{ github.ref_name }}-arm64
          build-args: |
            ERL_FLAGS=+JPperf true

      - name: Build armhf release
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/arm/v7
          file: .github/workflows/Dockerfile-arm
          load: true
          tags: ex_nvr:${{ github.ref_name }}-armhf

      - name: Copy release
        run: |
          arm64_id=$(docker create ex_nvr:${{ github.ref_name }}-arm64)
          arm_id=$(docker create ex_nvr:${{ github.ref_name }}-armhf)

          docker cp $arm64_id:/app/ui/build-assets/. ui/_build/prod/
          docker cp $arm_id:/app/ui/build-assets/. ui/_build/prod/
          docker rm -v $arm64_id $arm_id

      - name: Create GH release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }}
          generate_release_notes: true
          draft: true
          files: |
            ui/_build/prod/*.deb
            ui/_build/prod/*.tar.gz

  publish-docs:
    needs: [release]

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref }}

    - name: Copy Documentation
      run:  cp ui/priv/static/openapi.yaml docs/

    - name: Deploy to GitHub Pages
      run: |
        git config user.name "GitHub Actions"
        git config user.email "github-actions@github.com"
        git checkout --orphan gh-pages
        git add -A
        git commit -m "Deploy documentation for tag ${{ github.ref_name }} to github pages"
        git push origin gh-pages -f
